<ul class="collection with-header z-depth-1">
  <li class="collection-header"><h4>Policies</h4></li>
  <li class="collection-item avatar">
    <i class="fa fa-diamond circle"></i>

    <span class="title">Title</span>
    <p>
      Subtitle
      <br>
      <span class="grey-text">Description</span>
    </p>
    <a href="#!" class="secondary-content"><i class="fa fa-star teal-text"></i></a>
  </li>
  <li class="collection-item avatar">
    <i class="fa fa-flash circle green"></i>
    <span class="title">Title</span>
    <p>
      Subtitle
      <br>
      <span class="grey-text">Description</span>
    </p>
    <a href="#!" class="secondary-content"><i class="fa fa-star teal-text"></i></a>
  </li>
  <li class="collection-item avatar">
    <i class="fa fa-heart circle purple"></i>
    <span class="title">Title</span>
    <p>
      Subtitle
      <br>
      <span class="grey-text">Description</span>
    </p>
    <a href="#!" class="secondary-content"><i class="fa fa-star teal-text"></i></a>
  </li>
</ul><!-- .collection -->
