<div class="row mb-0">
  <div class="col s6">
    <div class="preloader-wrapper small active hide">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><!-- .circle-clipper -->
        <div class="gap-patch">
          <div class="circle"></div>
        </div><!-- .gap-patch -->
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div><!-- .circle-clipper -->
      </div><!-- .spinner-layer -->

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><!-- .circle-clipper -->
        <div class="gap-patch">
          <div class="circle"></div>
        </div><!-- .gap-patch -->
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div><!-- .circle-clipper -->
      </div><!-- .spinner-layer -->

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><!-- .circle-clipper -->
        <div class="gap-patch">
          <div class="circle"></div>
        </div><!-- .gap-patch -->
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div><!-- .circle-clipper -->
      </div><!-- .spinner-layer -->

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><!-- .circle-clipper -->
        <div class="gap-patch">
          <div class="circle"></div>
        </div><!-- .gap-patch -->
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div><!-- .circle-clipper -->
      </div><!-- .spinner-layer -->
    </div>
  </div><!-- .col -->
  <div class="col s6 right right-align">
    <button type="submit" class="btn waves-effect waves-teal z-depth-0 right-align">Submit</button>
  </div><!-- .col -->
</div><!-- .row -->
